<% layout('layouts/boilerplate')%>
<h1>All Cars</h1>
<% for (let car of cars){ %>
<div class="card" mb-3>
    <div class="row">
        <div class="col-md-8">
            <div class="card-body">
                <li><a href="/lists/<%= car._id %>"><%= car.model %></a></li>
            </div>
        </div>
    </div>
</div>
<% }%>