<% layout('layouts/boilerplate')%>
<style> 
    body {
        background-image: url("https://wallpaperaccess.com/full/229485.jpg");
        background-color: #cccccc;  
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
    }
</style>
<!-- <div class="position-relative"> -->
    <div class="position-absolute top-0 start-100 translate-middle"> Welcome!
        
    </div>
    <!-- <p class="fs-1">  </p> -->
<!-- </div> -->

    
    