<% layout('layouts/boilerplate')%>
<!-- <style>
    .welcome section h3{
        
    }
</style>     -->

<main class="welcome">
    <section class="backImage">
        <div class="filter"></div>
            <h3> Welcome to find some new rides</h3>
            <h3> Let's get ready</h3>
            <form method="get" action="/search">
                <button type="submit">Start Searching</button>
            </form>
    </section>
</main>


    
    