<% layout('layouts/boilerplate')%>
<h3> About Page </h3>
<p> Welcome to our vehicle show. In this webpage, it displays all kinds of vehicles, including models, makes, and year. More details will also be provided in the future </p>
<h2> Idea </h2>
<p> When we select a car model, we </p>
