<% layout('layouts/boilerplate')%>
<style>
    #thank{
        color:rgb(165, 100, 100);
        font-size: 40px;
        text-shadow: 1px;
        /* border: solid 5px rgb(86, 68, 68); */
        border-radius: 5%;
    }
</style>
<h3> About Page </h3>
<p> Hello and welcome to the auto show. This website is designed for people
    who are looking for specific types of vehicles. It shows a wide rnge of automobiles, including
    models, makes, years, and images. As a user, you can search for vehicles based on your preferences, and
    the webpage will use the backend API to assist you in finding the best vehicles for you. On the lists page, they can also 
    look at different vehicles that have been liked by other users and read their comments as well, so then the user can see how popular the vehicles
    is based on the comments and description. In addition, adding new vehicle and share their experiences with other users are also available. 
</p>
<br>
<h2> API Included </h2>
<li> Car Data API </li>
<li> Unsplash API </li>
<br>
<br>
<br>
<br>
<h1 id="thank"> Thanks for your patience and supports </h1>
