<% layout('layouts/boilerplate')%>
<style>
    .cardProfile {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    /* max-height: 500px; */
    margin: auto;
    text-align: center;
    }

    .titleName {
    color: rgb(35, 35, 35);
    font-size: 18px;
    }

    button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    }


    button:hover, a:hover {
    opacity: 0.7;
    }
</style>

<div class="cardProfile">
  <img src="https://i.pinimg.com/474x/bc/d4/ac/bcd4ac32cc7d3f98b5e54bde37d6b09e.jpg" alt="Leo" style="width:100%">
  <h1>Linjian Yang</h1>
  <p class="titleName">Undergraduate Student</p>
  <p>Texas A&M University</p>
  <p>Contact</p>
  <a href="https://www.linkedin.com/in/linjian-yang-33907019a/"><i class="fa fa-linkedin"></i></a>
  <a href="https://github.com/Leoyang158"> <i class="fab fa-github"></i></a>
</div>
<br>
<br>
<br>
<br>