<% layout('layouts/boilerplate')%>
<h3>Welcome to CarDream Club</h3>
<h3>Register</h3>
<!-- change to button as well -->
<h3>Login</h3> 
<!-- change to button if possible  -->
<form action="/search" method="POST">
    <div>
        <label for="Username">Username</label>
        <input type="text" name="Username" id="Username" placeholder="Enter your username">
    </div>

    <br>
    <div>
        <label for="Password">Password</label>
        <input type="password" name="Password" id="Password" placeholder="Enter your password">
    </div>
    <br>

    <input class="btn btn-primary" type="submit" value="Submit">
</form>