<% layout('layouts/boilerplate')%>
<h1>Search For Vehicle</h1>
<br>
<style>
    .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    /* width: 300px;
    height: 200px; */
    padding: 5px;
    border-radius: 1%;
    border:2px solid #1e1c1c;
    margin-left: auto;
    width: 33.33%;
    /* margin: auto; */
    text-align:center;
    font-family: arial;
    }

    .price {
    color: grey;
    font-size: 18px;
    }

    .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    }

    .card button:hover {
    opacity: 0.7;
    }

    .column{
        width:100%;
    }
</style>

<form id="searchForm">
    <div>
        <label for="Type">Enter Type</label>
        <input type="text" name="type" placeholder="Vehicle Type">
    </div>

    <br>
    <div>
        <label for="Model">Enter Model</label>
        <input type="text" name="model" placeholder="Vehicle Model">
    </div>
    <br>

    <div>
        <label for="Model">Enter Year</label>
        <input type="text" name="year" placeholder="Vehicle Year">
    </div>
    <br>

    <div>
        <label for="Model">Enter Make</label>
        <input type="text" name="make" placeholder="Vehicle Make">
    </div>
    <br>

    
    <label for="customRange1" class="form-label">Search Range</label>
    <input type="range" class="form-range" min="5" max="20" name="range">
    <br>

    <input class="btn btn-secondary" type="reset" value="Reset">
    <input class="btn btn-primary" type="submit" value="Submit">
</form>
<br>
<section id="container">
</section>
<script src="/search_lists.js"></script>