<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://i.pinimg.com/originals/12/c6/fa/12c6fab0f871cba7eee794d69a76d17d.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
        CarDream
    </div>
  </nav>