<style>
  #iconImg{
    width:40px;
    height:36px;
  }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="https://i.pinimg.com/originals/12/c6/fa/12c6fab0f871cba7eee794d69a76d17d.jpg" alt="Not Loaded" width="40" height="36" class="d-inline-block align-text-top" id='iconImg'>
      CarDream</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/search">Search</a>
        <a class="nav-link" href="/lists">Check Lists</a>
        <a class="nav-link" href="/about">About us</a>
        <a class="nav-link" href="/contact">Contact</a>
      </div>
      <div class="navbar-nav ml-auto">
          <% if(!currentUser) { %>
          <a class="nav-link"  href='/login'>Login</a>
          <a class="nav-link"  href='/register'>Register</a>
          <% } else { %>
          <a class="nav-link"  href='/logout'>Logout</a>
          <% } %>
      </div>
    </div>
  </div>
</nav>